@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: theme('colors.bg');
  color: theme('colors.ink.DEFAULT');
  font-family: theme('fontFamily.sans');
  min-height: 100vh;
  line-height: 1.5;
}

button,
input,
select,
textarea {
  font-family: theme('fontFamily.sans');
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}
