
---

## 🛑 `.gitignore` (Flutter Optimized)

Create a file `.gitignore` in your root folder and paste:

```gitignore
# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
pubspec.lock

# VS Code
.vscode/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Android
android/.gradle/
android/app/build/
android/.idea/

# Mac
*.DS_Store

# Other
*.log
*.lock
.idea/

*.bak
**/io/flutter/plugins/GeneratedPluginRegistrant.java
**/io/flutter/plugins/GeneratedPluginRegistrant.kt
**/io/flutter/plugins/
